body { padding-top: 70px; }

.navbar-fixed-top {
  background-color: #34495e;
  border: #34495e;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

#title_of_webpage {
  color: white;
}

#title_of_webpage:hover {
  color: #2ecc71;
  background-color: #ecf0f1;

}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #2ecc71;
  background-color: #ecf0f1;
}
