<% if session[:user_id] %>
<div class="container">

 <h1>Welcome User <%=@user.username%></h1>
  <div id="all_surveys">
    <h3>All Surveys</h3>
    <%Survey.all.each do |survey|%>
      <div><a href="/survey/<%= survey.id %>/take"><%=survey.title%></a></div>
      <div>Author: <%=survey.user.username%></div>
      <%end%>
  </div>
  <% else %>
  <div class="container">
    <h1>You need to log in to view gorilla notes</h1>
  </div>


</div>

  <% end %>
